<% @title="Borrower Page"%>
<form action="/online_lending/logout/" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="submit" value="Logout">	
</form>

<p>Name: <%= @borrower.fname %></p>
<p>Amount Needed: $<%= @borrower.money %></p>
<p>Amount Raised: $<%= @borrower.raised %></p>

<h4>List of People who lent you money:</h4>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Amount Lent</th>
		</tr>
	</thead>
	<tbody>
	<% if @lenders %>
	<% @lenders.each do |lender| %>
		<tr>
			<td><%= lender.lender.fname %> <%= lender.lender.lname %></td>
			<td><%= lender.lender.email %></td>
			<td>$<%= lender.amount%></td>
		</tr>
	<% end %>
	<% else %>
		<p>No one has lended you money yet...</p>
	<% end %>
	</tbody>
</table>